/* CSS files add styling rules to your content */

body {
  font-family: "Comic Sans MS" ;
  text-align:center;
  margin: 2em;
  outline-color: coral;
  font-style:italic;
  background:url("http://everydayicons.jp/downloads/patterns/pc/scale.jpg");
 
}
.cardhead
{
  border:1px dotted black;
}
p
{
  text-align:justify;
  margin:5px;
}
#card-container
{
  display:flex;
  flex-direction:column;  
  
}
.article
{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

h2{   text-decoration:underline;}
.image
{
  height:400px;
  width:400px;
}
.cardtwo
{
  display:flex;
  flex-direction:row;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background:linear-gradient(35deg,#CCFFFF ,dodgerblue);
  border-radius:0%;
  

}
.cardtwo:hover
{
  animation:flip;
  animation-duration:2s;
  animation-iteration-count:infinite;
  background:dodgerblue;
  border: 3px solid white;
}
@keyframes flip
{
  0%{border: 3px solid white;}
  50%{border: 6px solid white; }
  100%{border: 3px solid white;}
}
.cardone
{
  display:flex;
  flex-direction:row-reverse;   
  background:linear-gradient(35deg,orangered ,#FCC);
  border: 2px solid white;
  
}
.cardone:hover
{
  animation:flip;
  animation-duration:2s;
  animation-iteration-count:infinite;
  background:orangered;
  border: 3px solid white;
}


  
#photo
{
position:relative;
  width:15%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: 1s;
  border-radius: 15px;
    opacity:0.9;
  display:block;
  margin:auto;
  transform:scale(.9);
     

  animation-name:bordering;
  animation-duration:4s;  
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
@keyframes bordering
{
  0%{border: 1px solid white;border-radius:0%;right:0px}
  33%{border:2px solid gray;right:100px;opacity:01;}
  66%{border: 3px solid black;border-radius:50%;right:-100px;opacity:0.7;}
  100%{border: 1px solid white;border-radius:0%;right:0px;}
}
#photo:hover
{
  transform:scale(1.2);
}
h1 {
  
  background-color:rgba(45, 45, 45, 0.1);
  margin-left:30%;
  height:45px;
  width:500px;
  text-align:center;
  color: black;
  text-shadow: 2px 2px 5px silver;
   border: 4px solid black;
  border-radius:30%;
  border-width:2px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

