/* CSS files add styling rules to your content */

body {
  font-family: "Comic Sans MS", ;
  text-align:center;
  margin: 2em;
  outline-color: coral;
  border-style:dotted;
border-color:#287EC7;
  border-radius:20px;
}

h1 {
  text-align:center;
  font-style: bold;
  color: #373fff;
}
